
body {
    background-image: url('../images/vintage-concrete.png');
    border: 0;
    margin: 0;
    padding: 0;
}

.all{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

.ribbon {
    height: 70px;
    line-height: 70px;
    background: white;
    border-bottom: 3px solid lightgray;
}

main {
    width: 960px;
    margin: 0 auto;
}

.headcontainer {
    width: 960px;
    margin: 0 auto;
}

.headstone {
    float: left;
    color: white;
    padding: 0 20px 0 20px;
    margin: 0;
    background-color: #4aaaa5;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 50px;
}

nav li a {
    text-decoration: none;
    color: #cccccc;
}

section {
    background-color: #ffffff;
    padding: 20px;
}

h1 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.selfie {
    height: 200px;
    width: 250px;
    float: left;
    margin: 0 10px 10px 0;
}

footer {
    height: 50px;
    /* line-height: 15px; */
    text-align: center;
    background: #666666;
    color: #ffffff;
    border-top: 3px solid #4aaaa5;
}

.copyrt {
    position: relative;
    bottom: -15px;
}
